In [1]:
import pandas as pd
import numpy as np

# 1. **Normalizaci√≥n de los dataset tipo json a csv.**

**constructors.json**

In [5]:
constructors = pd.read_json(r"./datasets_raw/constructors.json",
                             lines = True, encoding = 'utf-8')

In [7]:
display(constructors.dtypes)

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

In [8]:
constructors.shape

(211, 5)

In [12]:
# Checking duplicates in Id column
print(f'{constructors.constructorId.duplicated().sum()} duplicates in ID Column')
# Checking duplicatines in dataframe
print(f'{constructors.duplicated().sum()} duplicates in Dataframe')

0 duplicates in ID Column
0 duplicates in Dataframe

In [13]:
# Checking null data
constructors.isnull().sum()

constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

In [15]:
# Change .json to csv
constructors.to_csv('constructor.csv', index = False)

**drivers.json**

In [16]:
drivers = pd.read_json(r"./datasets_raw/drivers.json",
                     encoding = 'utf-8', lines = True)

In [17]:
display(drivers.dtypes)

driverId        int64
driverRef      object
number         object
code           object
name           object
dob            object
nationality    object
url            object
dtype: object

In [126]:
drivers.head(1)

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,"{'forename': 'Lewis', 'surname': 'Hamilton'}",1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [18]:
drivers.shape

(853, 8)

In [20]:
# Checking null data
drivers.isnull().sum()

driverId       0
driverRef      0
number         0
code           0
name           0
dob            0
nationality    0
url            0
dtype: int64

In [23]:
# Name column has important information in dict format. Let's change that
names = [(i['surname'] + " " + i['forename']) for i in drivers.name]
drivers.name = names

In [24]:
# Checking duplicates in Id column
print(f'{drivers.driverId.duplicated().sum()} duplicates in ID Column')
# Checking duplicatines in dataframe
print(f'{drivers.duplicated().sum()} duplicates in Dataframe')

0 duplicates in ID Column
0 duplicates in Dataframe

In [25]:
# Checking Null data in another format
drivers.number.unique()

array([44, '\\N', 6, 14, 7, 88, 19, 99, 22, 5, 8, 10, 27, 13, 11, 3, 25,
       4, 21, 77, 17, 20, 26, 45, 9, 28, 33, 12, 55, 98, 53, 30, 94, 2,
       31, 18, 16, 35, 63, 23, 51, 89], dtype=object)

In [140]:
drivers.code.unique()

array(['HAM', 'HEI', 'ROS', 'ALO', 'KOV', 'NAK', 'BOU', 'RAI', 'KUB',
       'GLO', 'SAT', 'PIQ', 'MAS', 'COU', 'TRU', 'SUT', 'WEB', 'BUT',
       'DAV', 'VET', 'FIS', 'BAR', 'SCH', 'LIU', 'WUR', 'SPE', 'ALB',
       'WIN', 'YAM', 'MSC', 'MON', 'KLI', 'TMO', 'IDE', 'VIL', 'FMO',
       'DLR', 'DOO', 'KAR', 'FRI', 'ZON', 'PIZ', '\\N', 'BUE', 'BAD',
       'MAG', 'ALG', 'GRO', 'KOB', 'BIA', 'GAS', 'HUL', 'PET', 'DIG',
       'SEN', 'CHA', 'MAL', 'DIR', 'PER', 'DAM', 'RIC', 'VER', 'PIC',
       'CHI', 'GUT', 'BOT', 'VDG', 'KVY', 'LOT', 'ERI', 'STE', 'NAS',
       'SAI', 'MER', 'RSS', 'PAL', 'WEH', 'HAR', 'VAN', 'OCO', 'STR',
       'GIO', 'LEC', 'SIR', 'NOR', 'RUS', 'LAT', 'FIT', 'AIT', 'TSU',
       'MAZ'], dtype=object)

In [29]:
# Changing \\N data -> "no data"
drivers.replace('\\N', "no data", inplace = True)

In [30]:
drivers[100:200]

,driverId,driverRef,number,code,name,dob,nationality,url
100,101,brabham,no data,no data,Brabham David,1965-09-05,Australian,http://en.wikipedia.org/wiki/David_Brabham
101,102,senna,no data,no data,Senna Ayrton,1960-03-21,Brazilian,http://en.wikipedia.org/wiki/Ayrton_Senna
102,103,bernard,no data,no data,Bernard √âric,1964-08-24,French,http://en.wikipedia.org/wiki/%C3%89ric_Bernard
103,104,fittipaldi,no data,no data,Fittipaldi Christian,1971-01-18,Brazilian,http://en.wikipedia.org/wiki/Christian_Fittipaldi
104,105,alboreto,no data,no data,Alboreto Michele,1956-12-23,Italian,http://en.wikipedia.org/wiki/Michele_Alboreto
...,...,...,...,...,...,...,...,...
195,196,boesel,no data,no data,Boesel Raul,1957-12-04,Brazilian,http://en.wikipedia.org/wiki/Raul_Boesel
196,197,jarier,no data,no data,Jarier Jean-Pierre,1946-07-10,French,http://en.wikipedia.org/wiki/Jean-Pierre_Jarier
197,198,villeneuve_sr,no data,no data,Villeneuve Sr. Jacques,1953-11-04,Canadian,http://en.wikipedia.org/wiki/Jacques_Villeneuv...
198,199,reutemann,no data,no data,Reutemann Carlos,1942-04-12,Argentine,http://en.wikipedia.org/wiki/Carlos_Reutemann
199,200,mass,no data,no data,Mass Jochen,1946-09-30,German,http://en.wikipedia.org/wiki/Jochen_Mass

In [144]:
drivers.to_csv("drivers.csv", index = False)

**results.json**

In [31]:
# Dataset 3: results.json
results = pd.read_json(r"./datasets_raw/results.json",
                    lines = True, encoding = 'utf-8')

In [32]:
display(results.dtypes)

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

In [154]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [36]:
# Checkin for nulls
results.isnull().sum()

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [33]:
# Checking duplicates in Id column
print(f'{results.resultId.duplicated().sum()} duplicates in ID Column')
# Checking duplicatines in dataframe
print(f'{results.duplicated().sum()} duplicates in Dataframe')

0 duplicates in ID Column
0 duplicates in Dataframe

In [34]:
results.replace('\\N', 'No Data', inplace = True)

In [35]:
results.to_csv('results.csv', index = False)

**pitstops.json**

In [38]:
pitstops = pd.read_json(r"./datasets_raw/pit_stops.json",
                         lines = False, orient = 'str', encoding = 'utf-8-sig')

In [40]:
pitstops.head(1)

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898

In [41]:
display(pitstops.dtypes)

raceId           int64
driverId         int64
stop             int64
lap              int64
time            object
duration        object
milliseconds     int64
dtype: object

In [42]:
# Checking null data
pitstops.isnull().sum()

raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

In [43]:
# Checking duplicatines in dataframe
print(f'{results.duplicated().sum()} duplicates in Dataframe')

0 duplicates in Dataframe

In [44]:
# Creating pitstopsId column
pitstops['pitstopId'] = [i for i in range(1,pitstops.shape[0] + 1)]

In [45]:
first_column = pitstops.pop("pitstopId")
pitstops.insert(0, "pitstopId", first_column)

In [46]:
pitstops.head()

   pitstopId  raceId  driverId  stop  lap      time duration  milliseconds
0          1     841       153     1    1  17:05:23   26.898         26898
1          2     841        30     1    1  17:05:52   25.021         25021
2          3     841        17     1   11  17:20:48   23.426         23426
3          4     841         4     1   12  17:22:34   23.251         23251
4          5     841        13     1   13  17:24:10   23.842         23842

In [47]:
pitstops.to_csv('pitstops.csv', index = False)

**races.csv**

In [48]:
races = pd.read_csv("./datasets_raw/races.csv", encoding = 'utf-8')

In [199]:
races.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [50]:
races.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [52]:
races.shape

(1058, 8)

In [54]:
# Checking duplicates in Id column
print(f'{races.raceId.duplicated().sum()} duplicates in ID Column')
# Checking duplicatines in dataframe
print(f'{races.duplicated().sum()} duplicates in Dataframe')

0 duplicates in ID Column
0 duplicates in Dataframe

In [55]:
# Checking for null data
races.isnull().sum()

raceId       0
year         0
round        0
circuitId    0
name         0
date         0
time         0
url          0
dtype: int64

In [56]:
races.replace('\\N', 'no data', inplace = True)

In [57]:
races.to_csv('races.csv', index = False)

# 2. Uniendo los datasets lap_times y Qualifying

**lap_times.csv**

In [58]:
df1 = pd.read_csv('./datasets_raw/lap_times/lap_times_split_1.csv')
df2 = pd.read_csv('./datasets_raw/lap_times/lap_times_split_2.csv')
df3 = pd.read_csv('./datasets_raw/lap_times/lap_times_split_3.csv')
df4 = pd.read_csv('./datasets_raw/lap_times/lap_times_split_4.csv')
df5 = pd.read_csv('./datasets_raw/lap_times/lap_times_split_5.csv')

In [59]:
# No columns in these datasets
df1.head()

   841  20  1  1.1  1:38.109  98109
0  841  20  2    1  1:33.006  93006
1  841  20  3    1  1:32.713  92713
2  841  20  4    1  1:32.803  92803
3  841  20  5    1  1:32.342  92342
4  841  20  6    1  1:32.605  92605

In [60]:
# Adding columns
df1.columns = ['raceId', 'driverId', 'laptimeStop', 'laptimeTime', 'duration', 'milliseconds']
df2.columns = ['raceId', 'driverId', 'laptimeStop', 'laptimeTime', 'duration', 'milliseconds']
df3.columns = ['raceId', 'driverId', 'laptimeStop', 'laptimeTime', 'duration', 'milliseconds']
df4.columns = ['raceId', 'driverId', 'laptimeStop', 'laptimeTime', 'duration', 'milliseconds']
df5.columns = ['raceId', 'driverId', 'laptimeStop', 'laptimeTime', 'duration', 'milliseconds']

In [61]:
lap_times = pd.concat([df1, df2, df3, df4, df5], ignore_index = True)

In [62]:
lap_times.shape

(490899, 6)

In [63]:
lap_times.dtypes

raceId           int64
driverId         int64
laptimeStop      int64
laptimeTime      int64
duration        object
milliseconds     int64
dtype: object

In [64]:
# Adding lap_times ID
lap_timesId = [i for i in range(1, len(lap_times) + 1)]
lap_times.insert(0, "laptimeId", lap_timesId)

In [65]:
lap_times.head()

,laptimeId,raceId,driverId,laptimeStop,laptimeTime,duration,milliseconds
0,1,841,20,2,1,1:33.006,93006
1,2,841,20,3,1,1:32.713,92713
2,3,841,20,4,1,1:32.803,92803
3,4,841,20,5,1,1:32.342,92342
4,5,841,20,6,1,1:32.605,92605

In [67]:
# Checking for null data
lap_times.isnull().sum()

laptimeId       0
raceId          0
driverId        0
laptimeStop     0
laptimeTime     0
duration        0
milliseconds    0
dtype: int64

In [66]:
# Checking duplicatines in dataframe
print(f'{lap_times.duplicated().sum()} duplicates in Dataframe')

0 duplicates in Dataframe

In [68]:
lap_times.replace('\\N', 'no data', inplace = True)

In [17]:
lap_times.to_csv('laptimes.csv', index = False)

**qualifying.csv**

In [69]:
q1 = pd.read_json('./datasets_raw/Qualifying/qualifying_split_1.json')
q2 = pd.read_json('./datasets_raw/Qualifying/qualifying_split_2.json')

In [70]:
q1.head(1)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714

In [71]:
qualifying = pd.concat([q1, q2], ignore_index = True)

In [72]:
qualifying.dtypes

qualifyId         int64
raceId            int64
driverId          int64
constructorId     int64
number            int64
position          int64
q1               object
q2               object
q3               object
dtype: object

In [242]:
qualifying.shape

(8694, 9)

In [73]:
# Checking duplicates in Id column
print(f'{qualifying.qualifyId.duplicated().sum()} duplicates in ID Column')
# Checking duplicatines in dataframe
print(f'{qualifying.duplicated().sum()} duplicates in Dataframe')

0 duplicates in ID Column
0 duplicates in Dataframe

In [74]:
# Checking for null data
qualifying.isnull().sum()

qualifyId        0
raceId           0
driverId         0
constructorId    0
number           0
position         0
q1               0
q2               0
q3               0
dtype: int64

In [75]:
qualifying.replace('\\N', 'no data', inplace = True)

In [247]:
qualifying.to_csv('qualifying.csv', index = False)